@font-face {
  font-family: "MSSansSerif";
  src: url("MSSansSerif.ttf") format("truetype");
}

.App {
  /* text-align: center; */
}

body {
  background-color: #008080;
  font-family: MSSansSerif !important;
}
* {
  font-family: MSSansSerif !important;
}

.App-logo {
  height: 40vmin;
}

#strikethrough {
  text-decoration: line-through;
}

#why-modal-text {
  margin: 0 0.2em;
  overflow: scroll;
  height: 12em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.split-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#split-footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

#start-menu {
  position: fixed;
  bottom: 3em;
}

#liar-png {
  max-width: 100%;
}


/* scrollbar */


::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button {
	width: 16px;
	height: 16px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button {
	background: #c0c0c0;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	box-shadow: 1px 1px 0 white inset, -1px -1px 0 #707070 inset;
}
::-webkit-scrollbar-button:hover:active {
	border: 1px solid #7b7b7b;
	box-shadow: none;
}
::-webkit-scrollbar-corner {
	background: #c0c0c0;
}
::-webkit-scrollbar-button {
	background-position: center;
	background-repeat: no-repeat;
}
::-webkit-scrollbar-button {
	/* background-image: url("images/arrows.png"); */
}
::-webkit-scrollbar-button:vertical:decrement:disabled {
	background-position: calc(-12px + 1px) 1px; /* up */
}
::-webkit-scrollbar-button:vertical:increment:disabled {
	background-position: calc(-0px + 1px) 1px; /* down */
}
::-webkit-scrollbar-button:vertical:decrement {
	background-position: calc(-12px + 1px) calc(-12px + 1px); /* up */
}
::-webkit-scrollbar-button:vertical:increment {
	background-position: calc(-0px + 1px) calc(-12px + 1px); /* down */
}
::-webkit-scrollbar {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEW9vb3///8EwsWUAAAADElEQVQI12NoYHAAAAHEAMFJRSpJAAAAAElFTkSuQmCC) repeat;
}
::-webkit-scrollbar-track-piece:active {
	background: black;
}